acres==0.3.0
aiobotocore==2.22.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.2
aioitertools==0.12.0
aiosignal==1.3.2
alabaster==0.7.16
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciitree==0.3.3
astroid==3.3.10
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
autopep8==2.3.2
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
bidict==0.23.1
bids-validator-deno==2.0.6
bidsschematools==1.0.9
bleach==6.2.0
botocore==1.37.3
bqplot==0.12.45
build==1.2.2.post1
cellpose==3.1.1.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
ci-info==0.3.0
cjdk==0.4.1
click==8.1.8
click-didyoumean==0.3.1
cloudpickle==3.1.1
clr_loader==0.2.7.post0
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
crc32c==2.7.1
cycler==0.12.1
dandi==0.69.0
dandischema==0.11.0
dask==2025.5.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
dnspython==2.7.0
docstring-inheritance==2.2.2
docstring-to-markdown==0.17
docstring_parser==0.16
docutils==0.20.1
donfig==0.8.1.post1
ecdsa==0.19.1
email_validator==2.2.0
etelemetry==0.3.1
executing==2.2.0
fastapi==0.115.12
fasteners==0.19
fastjsonschema==2.21.1
fastremap==1.16.1
filelock==3.18.0
fill_voids==2.0.8
flake8==7.2.0
fonttools==4.58.0
fqdn==1.5.1
frozenlist==1.6.0
fscacher==0.4.4
fsspec==2025.5.1
ftd2xx==1.3.8
gast==0.4.0
git-filter-repo==2.47.0
h11==0.16.0
h5py==3.13.0
hdf5plugin==5.1.0
hdmf==4.3.1
hdmf_zarr==0.11.1
hidapi==0.14.0.post4
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.3
idna==3.10
imagecodecs==2025.3.30
imageio==2.37.0
imagesize==1.4.1
imglyb==2.1.0
imjoy==0.11.20
imjoy-jupyter-extension==0.3.0
imjoy-rpc==0.5.59
importlib-metadata==4.13.0
indexed_gzip==1.9.4
interleave==0.3.0
ipydatagrid==1.4.0
ipydatawidgets==4.3.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipympl==0.9.7
ipython==9.2.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipyvolume==0.6.3
ipyvue==1.11.2
ipyvuetify==1.11.1
ipywebrtc==0.6.0
ipywidgets==8.1.7
isodate==0.7.2
isoduration==20.11.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jgo==1.0.6
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jpype1==1.5.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keyring==25.6.0
keyrings.alt==5.0.2
kiwisolver==1.4.8
labeling==0.1.14
lazy-object-proxy==1.11.0
lazy_loader==0.4
llvmlite==0.44.0
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
maxlab==1.0.0
mccabe==0.7.0
mdurl==0.1.2
microscope==0.7.0
mistune==3.1.3
ml_dtypes==0.5.1
mmpycorex==0.3.16
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.4
mypy_extensions==1.1.0
narwhals==1.41.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndstorage==0.1.18
ndtiff==3.1.0
ndx-grayscalevolume==0.0.2
ndx-spectrum==0.2.2
neo==0.14.1
nest-asyncio==1.6.0
networkx==3.4.2
neuroconv==0.7.4
notebook==7.4.3
notebook_shim==0.2.4
np-image-buffer==0.1.1
npe2==0.7.8
numba==0.61.2
numcodecs==0.15.1
numpy==1.26.4
numpydoc==1.8.0
nwbinspector==0.6.3
nwbwidgets==0.11.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
partd==1.4.2
pickleshare==0.7.5
pillow==11.2.1
platformdirs==4.3.8
plotly==5.13.1
pluggy==1.6.0
probeinterface==0.2.28
progressbar2==4.5.0
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==7.0.0
psygnal==0.13.0
pure_eval==0.2.3
py2vega==0.6.1
pyasn1==0.4.8
pybase64==1.4.1
pycodestyle==2.13.0
pycparser==2.22
pycromanager==1.0.2
pycryptodomex==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
pydocstyle==6.3.0
pyFirmata==1.1.0
pyflakes==3.3.2
Pygments==2.19.1
pyimagej==1.7.0
pyjavaz==1.2.8
pylint==3.3.7
pymmcore==11.5.1.73.0
pynwb==3.1.3
pyout==0.8.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
pyqtgraph==0.13.7
Pyro4==4.82
pyserial==3.5
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.12.1
python-jose==3.4.0
python-json-logger==3.3.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.2
python-socketio==5.13.0
python-utils==3.9.1
pythonnet==3.0.5
pythreejs==2.4.2
pytomlpp==1.0.13
pytoolconfig==1.3.1
pytz==2025.2
PyWavelets==1.8.0
pywin32==310
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
qtconsole==5.6.1
QtPy==2.4.3
quantities==0.16.2
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==14.0.0
roifile==2025.5.10
roman-numerals-py==3.1.0
rope==1.13.0
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.18.11
ruamel.yaml.clib==0.2.12
scikit-image==0.25.2
scipy==1.15.3
screeninfo==0.8.1
scyjava==1.12.0
segment-anything==1.0
semantic-version==2.10.0
Send2Trash==1.8.3
serpent==1.41
shellingham==1.5.4
shiboken6==6.9.0
shortuuid==1.0.13
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spikeinterface==0.102.3
stack-data==0.6.3
starlette==0.46.2
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorstore==0.1.75
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.5.26
tinycss2==1.4.0
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.0
torchvision==0.22.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
trimesh==4.6.10
typer==0.16.0
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
ujson==5.10.0
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.34.2
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wget==3.2
whatthepatch==1.0.7
widgetsnbextension==4.0.14
wrapt==1.17.2
wsproto==1.2.0
xarray==2025.4.0
yapf==0.43.0
yarl==1.20.0
zarr==2.18.7
zarr-checksum==0.4.7
zipp==3.22.0
